body{
    margin: 0;
}

.container{
    height: 100vh;
    width: auto;
    background-color: #C1D8C3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.MainButton{
padding: 10px 35px;
margin: 0%;
border-radius: 25px;
border: none;
font-size: 1.4rem;
font-family: "Agdasima", sans-serif;
}

.MainButton:hover{
    cursor: pointer;
}

.headParah{
    font-size: .7rem;
    font-family: "inter", sans-serif;
}

.head{
    font-size: 6rem;
    font-family: "inter", sans-serif;

}
